<div class="navbar">
	<ul class="navbar-nav mr-auto">
		<% Category.find_each do |cat| %>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= cat.name %> <span class="badge badge-primary badge-pill"><%= Article.where(category: cat.id).count %> </span>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<% Article.where(category: cat.id).find_each do |a| %>
						<%= link_to a.title, a, :class =>"dropdown-item" %>
					<% end %>
				</div>
			</li>
		<% end %>
	<ul>
</div>